/********************** TAG SELECTOR **********************/

h1 {
    color: red;
    font-size: 60px;
}

img:hover {
    background-color: gold;
}

/********************** CLASS SELECTOR **********************/

.bacon {
    background-color: green;
    width: 120px;
    height: 120px;
}

.broccoli {
    background-color: red;
    width: 120px;
    height: 120px;
}

.circular {
    border-radius: 100%;
}

/********************** ID SELECTOR **********************/

#heading {
    color: brown;
}