body {
    background-color: #E7F6F2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #395B64;
    width: 10%;
}

h1 {
    color: #c70039;
}

h3 {
    color: #c70039;
}