h1 {
    font-size: 5.5rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #94B49F;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif; 
    /* the second font is for backup when the user do not have internet connection or downloaded the font */
    color: #94B49F;
    font-weight: normal;
}

h3 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #ECB390;
    width: 5%;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #FCF8E8;
    position: relative;
    padding: 100px;
}

.cloud1 {
    position: absolute;
    right: 600px;
    top: 50px;
}

.cloud2 {
    position: absolute;
    left: 600px;
    bottom: 350px;
}

.middle-container {
    padding: 30px;
    background-color: #CEE5D0;
}

.bottom-container {
    padding: 30px;
    background-color: #ECB390;
}

.data {
    text-decoration: underline;
}

.hobby-row {
    width: 60%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    padding: 50px;
}

.education {
    width: 50%;
    margin: 30px auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 230px;
}

.contact-me {
    line-height: 3;
}

.l-img {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.r-img {
    width: 35%;
    float: right;
    margin-left: 30px;
}

.e-img {
    float: left;
    margin-right: 50px;
}

.hobbies {
    margin-bottom: 200px;
}

.btn {
    background: #94B49F;
    background-image: -webkit-linear-gradient(top, #94B49F, #CEE5D0);
    background-image: -moz-linear-gradient(top, #94B49F, #CEE5D0);
    background-image: -ms-linear-gradient(top, #94B49F, #CEE5D0);
    background-image: -o-linear-gradient(top, #94B49F, #CEE5D0);
    background-image: linear-gradient(to bottom, #94B49F, #CEE5D0);
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    font-family: Arial;
    color: #000000;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #7e9e72;
    background-image: -webkit-linear-gradient(top, #7e9e72, #405c4c);
    background-image: -moz-linear-gradient(top, #7e9e72, #405c4c);
    background-image: -ms-linear-gradient(top, #7e9e72, #405c4c);
    background-image: -o-linear-gradient(top, #7e9e72, #405c4c);
    background-image: linear-gradient(to bottom, #7e9e72, #405c4c);
    text-decoration: none;
  }
  
.footer-link {
    text-decoration: double;
    padding: 20px;
}